.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 200px !important;
    background: transparent !important;
  }
  .swiper-pagination-bullet{
    width: 200px !important;
    background: transparent !important;
  }