.shop {
    &__items {
      display: flex;
      justify-content: space-between;
    }
  
    &__item_soon {
      position: relative;
      overflow: hidden;
  
      &::after {
        content: "";
        position: absolute;
        top: -50px;
        right: 0;
        width: 55px;
        height: 232.82px;
        background: #64d370;
        box-shadow: 0px 0px 15px rgba(86, 86, 86, 0.5);
        transform: rotate(-45deg);
      }
  
      &::before {
        content: "ckoro";
        position: absolute;
        top: 34px;
        right: 10px;
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 25px;
        color: #f5faff;
        line-height: 28px;
        transform: rotate(45deg);
        z-index: 1;
      }
  
      .shop__more_btn {
        border: 1.5px solid #b5c2ce;
        color: #b5c2ce;
  
        &::before {
          background-image: url("../public/images/arrow_next-soon.svg");
        }
      }
    }
  
    &__name {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__more_btn {
      width: 163px;
      height: 35px;
      border: 1.5px solid #64d370;
      border-radius: 190px;
      background-color: transparent;
      position: relative;
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 14px;
      line-height: 133.8%;
      text-align: center;
      color: #64d370;
      cursor: pointer;
  
      &::before {
        content: "";
        position: absolute;
        background-image: url("../public/images/arrow_next.svg");
        top: 11px;
        right: 14px;
        width: 9px;
        height: 15px;
      }
    }
  
    &__title {
      font-family: "Comfortaa";
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: #020202;
    }
  
    .container {
      width: 1280px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
  
  @media (max-width: 1450px) {
    .shop {
      &__items {
        justify-content: space-around;
      }
  
      &__item + &__item {
        margin-left: 15px;
      }
  
      &__img {
        width: 353px;
        height: 177px;
      }
  
      &__title {
        font-size: 16px;
        line-height: 13px;
      }
  
      &__more-btn {
        width: 115px;
        height: 30px;
        font-size: 11px;
  
        &::before {
          top: 8px;
          right: 7px;
        }
      }
    }
  }
  
  @media (max-width: 1300px) {
    .shop {
      .container {
        width: 90%;
      }
    }
  }
  
  @media (max-width: 900px) {
    .shop {
      .container {
        width: 97%;
        padding: 0;
      }
    }
  }
  
  @media (max-width: 800px) {
    .shop {
      &__items {
        flex-wrap: wrap;
        justify-content: center;
      }
  
      &__item {
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 400px) {
    .shop {
      &__item {
        width: 95%;
        margin: 20px auto;
      }
      &__item_soon{
        width: 95%;
      }
      &__img{
        width: 100%;
        height: auto;
      }
    }
  }